.homescreen {
    max-width: 1300px;
    margin: 1rem auto;
  }
  
  .homescreen__title {
    font-size: 1.5rem;
    color: #171717;
    margin-bottom: 1rem;
    margin-left: 8px;
  }


  @media only screen and (max-width: 2560px)
  {
    .rowSize
    {
      width:100%;
      max-width: 2560px;
    }

    .homescreen__products {
      margin-top: 1%;
      margin-left: .75%;
    }
  }

  @media only screen and (max-width: 1920px)
  {
    .rowSize{
      width: 100%;
      max-width: 1920px;
    }

    .homescreen__products {
      margin-top: 1.5%;
      margin-left: 1%;
    }
  }

  @media only screen and (max-width: 1366px)
  {
    .rowSize{
      width: 100%;
      max-width: 1366px;
    }

    .homescreen__products {
      margin-top: 1%;
      margin-left: 1.75%;
    }
  }


