.ProductContainer{
    background-color: white;
    box-shadow: 0px 0px 4px rgba(69, 69, 69, 0.5);
    height: 100%
}

.pictureOverlayHeader{
    display: none;
}

.pictureOverlayColourText{
    display: none;
}

.pictureOverlayProductID{
    display:none;
}

.colorDot{
    display:none;
}

.colorDiv{
    display: none;
}
@media only screen and (max-width: 3840px) {
 /*TODO*/   
}
@media only screen and (max-width: 2560px)
{
    .PictureStyle{
        height: 348px;
        width: 100%;
        margin-left: 0%;
    }

    .ProductContainer:hover .TextStyle {
        opacity: 0.2;
    }

    .ProductContainer:hover .PictureStyle{
        opacity: 0.3;
    }

    .ProductContainer:hover .pictureOverlayHeader{
        display: block;
        position: relative;
        margin-top: -57%;
        font-size: x-large;
        word-break: keep-all;
        text-align: center;
    }
    
    .ProductContainer:hover .pictureOverlayColourText{
        display: flex;
        position: relative;
        margin-top: 10%;
        font-size: large;
        word-break: keep-all;
        text-align: left;
        font-weight: 500;
        justify-content: center;
        align-self: center;
    }

    .ProductContainer:hover .pictureOverlayProductID{
        display: flex;
        position: relative;
        font-size: large;
        word-break: keep-all;
        text-align: left;
        font-weight: 500;
        justify-content: center;
        margin-top: 5%;
    }

    .ProductContainer:hover .colorDiv{
        display: block;
        position: relative;
        margin-top: 2%;
        margin-left: 35%;
        width: 30%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .ProductContainer:hover .colorDot{
        display: inline-block;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        margin-right: 3%;
        border-color: white;
        border-width: 2px;
        border-style: solid;
    }
}

@media only screen and (max-width: 1920px)
{
    .PictureStyle{
        height: 350px;
        max-width: 100%;
        margin-left: 0%;
    }

    .ProductContainer:hover .TextStyle {
        opacity: 0.2;
    }

    .ProductContainer:hover .PictureStyle{
        opacity: 0.3;
    }

    .ProductContainer:hover .pictureOverlayHeader{
        display: block;
        position: relative;
        margin-top: -80%;
        font-size: x-large;
        word-break: keep-all;
        text-align: center;
        margin-left: 0%;
        ;
    }
    
    .ProductContainer:hover .pictureOverlayColourText{
        display: block;
        position: relative;
        margin-top: 15%;
        font-size: large;
        word-break: keep-all;
        text-align: left;
        margin-left: 33%;
        font-weight: 500;
    }

    .ProductContainer:hover .pictureOverlayProductID{
        display: block;
        position: relative;
        margin-top: 17.2%;
        padding-bottom: 10%;
        font-size: large;
        word-break: keep-all;
        text-align: left;
        margin-left: 31%;
        font-weight: 500;
    }

    .ProductContainer:hover .colorDiv{
        display: block;
        position: relative;
        margin-top: 3%;
        margin-left: 35%;
        width: 30%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .ProductContainer:hover .colorDot{
        display: inline-block;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        margin-right: 3%;
        border-color: white;
        border-width: 2px;
        border-style: solid;
    }

}

@media only screen and (max-width: 1366px)
{
    .PictureStyle{
        height: 280px;
        max-width: 100%;
        margin-left: 0%;
    }
}

.TextStyle{
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4545459F;
    background-blend-mode: lighten;
}